<p>
  My name is Owen Stranathan. I am a programmer interested in programming videos
  games. I spend most of my time outside work, working on games in Unity.
</p>
<p>
  You can check my <a href="{{ site.github }}">github</a> for some of my work,
  although most of my game work is on my organization github
  <a href="https://github.com/wabisoft">wabisoft</a>.
</p>

<h4>Skills</h4>

<p>
    In my current role I use mostly C#, Python, and lots of Bash for glue. 
    But I can also:

    <ul>
        <li>C</li>
        <li>C++</li>
        <li>Python</li>
        <li>Bash</li>
        <li>C#|.NET</li>
        <li>Javascript</li>
        <li>Swift</li>
        <li>MySQL</li>
        <li>Kubernetes</li>
        <li>Docker</li>
        <li>Unity</li>
    </ul>

</p>

<h4>Education</h4>

<p>
  I graduated in 2016 from the University of Akron in Akron, OH with a B.S. in
  Computer Science
</p>

<h4>Likes</h4>

<p>
  Platformers, Pizza, Unix, Nintendo Switch, Maths, My Dog, Giantbomb, Bicycles,
  Bash, C and it's children, Trees, Coffee, Programming and Pianos. (Not
  included but still liked: Most other things)
</p>

<h4>Dislikes</h4>

<p>
  Arbitrary standards (<a href="https://xkcd.com/927/">relevant comic</a>),
  unnecessary change, lootboxes.
</p>

<h4>Current Job</h4>

<p>
  I currently work as a Software Developer at
  <a href="https://appfigures.com">appfigures</a>.
</p>

<h4>Dream Job</h4>
<p>Make games with my <a href="http://ianstranathan.com">brother</a></p>
