<head>

  	<title>owenstranathan: {{page.title}}</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
	<style>
	*{font-family: Roboto, Helvetica Neue, "Open Sans";}
	body {
	margin-left:10%;
	margin-right:10%;
	}
	table{
  		border-collapse: collapse;
		border: 1px solid black;
	}
	table td {
		border: 1px solid black;
		padding : 5px;
	}
	.date {
		font-size: 12pt;
		font-style: italic;
		font-weight: bold;
	}
	.categories {
		font-size: 11pt;
		font-style: italic;
		font-weight: bold;

	}
	.footer{
		margin-top:10%;
		/*position: fixed;*/
    	bottom: 0;
    	width: 100%;
	}
	</style>


</head>

