<head>
  <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
  <!--SEO -->
  <title>owenstranathan.com: {{page.title}}</title>
  <meta property="og:title" content="owenstranathan" />
  <meta property="og:locale" content="en_US" />
  <meta name="description" content="" />
  <meta property="og:description" content="" />
  <link rel="canonical" href="http://localhost:4000/" />
  <meta property="og:url" content="http://localhost:4000/" />
  <meta property="og:site_name" content="{{ site.title }}" />
  <script type="application/ld+json">
    {
      "name": "owenstranathan",
      "description": "owenstranathan.com",
      "@type": "WebSite",
      "url": "owenstranathan.com",
      "headline": "Yay!",
      "@context": "http://schema.org"
    }
  </script>

  <!-- styles -->
  <link rel="stylesheet" href="/assets/css/owiewestside.css" />
  <link rel="stylesheet" href="/assets/css/main.css" />

</head>
