$content-width: 1300px !default;

$top-spacing-unit: 28px !default;
$side-spacing-unit: 38px !default;
$base-line-height: 2 !default;
$base-font-size: 2.5vh !default;
$mobile-font-size: 3vh !default;

$base-font-family: "Roboto", "Helvetica Neue", "Open Sans" !default;

// Colors
$text-color: #000000 !default;
$background-color: #ffffff !default;
$red: #ff0000 !default;
$green: #00ff00 !default;
$blue: #0000ff !default;
$cyan: #00ffff !default;
$magenta: #ff00ff !default;
$yellow: #ffff00 !default;
$orange: #ff8800 !default;

* {
  box-sizing: border-box;
  font-family: $base-font-family;
  font-size: $base-font-size;
  @media (max-width: 700px) {
    font-size: $mobile-font-size;
  }
  margin: 0;
  padding: 0;
}
body {

  background-color: $background-color;
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

a {
  &,
  &:visited {
    color: $blue;
  }
}

.wrapper {
  max-width: -webkit-calc(100% - #{$side-spacing-unit});
  max-width: calc(100% - #{$side-spacing-unit});
  margin-left: $side-spacing-unit;
  margin-right: $side-spacing-unit;
  margin-top: $top-spacing-unit;
  margin-bottom: $top-spacing-unit;
  padding-left: 0;
  padding-right: $side-spacing-unit;
  width: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
  z-index: 10;
}

.site-title {
  display: block;
  width: 100%;
}

.site-main {
  z-index: 20;
  width: 100%;
  margin-bottom: $top-spacing-unit;
  padding-bottom: $top-spacing-unit;
  .site-main-inner {
    width: 100%;
    clear: both;
    display: flexbox;
    @media (max-width: 700px) {
      display: inline-block;
    }
  }
  .site-main-head {
    margin-bottom: $top-spacing-unit;
    a {
      text-decoration: none;
    }

    @media (max-width: 700px) {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  .site-main-left {
    margin: 0;
    width: 50%;
    float: left;
    z-index: 10;
    img {
      width: 100%;
    }
    @media (max-width: 700px) {
      width: 0%;
      float: none;
    }
  }
  .site-main-right {
    z-index: 10;
    color: $blue;
    margin: 0;
    float: right;
    width: 50%;
    // :hover {
    //   background-color: $background-color;
    // }
    .site-main-right-cont {
      margin-top: $top-spacing-unit;
      color: $text-color;
      a {
        color: $text-color;
      }
      :hover {
        color: $text-color;
      }
    }
    @media (max-width: 700px) {
      float: none;
      width: 100%;
    }
  }
}

.site-footer {
  color: $text-color;
  width: 100%;
  // position: absolute;
  bottom: 0;
  margin-top: $top-spacing-unit;
  .site-footer-inner {
    padding-top: $top-spacing-unit;
    @media (max-width: 700px) {
      padding-top: 0;
    }

    width: 100%;
    clear: both;
    display: flexbox;
  }
  .site-footer-head {
    font-weight: bold;
  }
  .site-footer-left {
    float: left;
    width: 66%;
    @media (max-width: 700px) {
      float: none;
    }
  }
  .site-footer-center {
    float: left;
    width: 33%;
    @media (max-width: 700px) {
      float: none;
    }
  }
  .site-footer-right {
    float: right;
    width: 33%;
    @media (max-width: 700px) {
      float: none;
    }
  }
}

.red {
  color: $red;
}
.green {
  color: $green;
}

.blue {
  color: $blue;
}

.cyan {
  color: $cyan;
}

.magenta {
  color: $magenta;
}

.yellow {
  color: $yellow;
}

.orange {
  color: $orange;
}

.fourOfour {
  color: $blue;
  @include relative-font-size(3);
  justify-content: center;
}

#sketch-holder {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  // makes it be in the background
  z-index: 10;
  position: fixed;
  top: 0px;
  left: 0px;
}
