$base-font-family: "Roboto", "Helvetica Neue", "Open Sans" !default;

// Colors
$text-color: #000000 !default;
$font-size: 2.5vh !default;
$mobile-font-size: 4vh !default;
$background-color: #ffffff !default;
$red: #ff0000 !default;
$green: #00ff00 !default;
$blue: #0000ff !default;
$cyan: #00ffff !default;
$magenta: #ff00ff !default;
$yellow: #ffff00 !default;
$orange: #ff8800 !default;

* {
    font-family: Roboto, Helvetica Neue, "Open Sans";
    font-size: $font-size;
}

body {
    margin-left:10%;
    margin-right:10%;
}

table {
	border-collapse: collapse;
	border: 1px solid black;
}

table td {
	border: 1px solid black;
	padding : 5px;
}

a {
    color: black;
    font-weight: bold;
}

a:hover {
    text-decoration: line-through;
}

.menu {
    position: fixed;
    z-index: 1000;
    margin:0;
    padding:0;
    left: 0;
    top:0;
}

.menu-start {
    @media screen and (max-width: 600px) {
        font-size: $mobile-font-size;
    }
    display: inline-block;
}

.menu-cont {
   @media screen and (max-width: 600px) {
        font-size: $mobile-font-size;
    }
    display:none;
}

.menu-start:hover + .menu-cont,
.menu-start:active + .menu-cont {
    display: inline-block;
}

.menu-start + .menu-cont:active,
.menu-start + .menu-cont:hover {
    display: inline-block;
}

.menu .menu-start {
    border: 1px solid black;
    font-weight: bold;
    color: white;
    background-color: black;
    left: 0;
    padding: 2px;
}

.menu .menu-start:hover {
    color: black;
    background-color:white;
    text-decoration: line-through;
    border: 1px solid black;
}

.menu a {
    color: black;
    background-color: white;
    text-decoration: none;
    padding: 2px;
    border: 1px solid black;
    border-left: 0px;
    margin-right:0;
    margin-left:0;
}

.menu a:hover {
    font-weight: bold;
    color: white;
    text-decoration: line-through;
    background-color: black;
    margin-right:0;
    margin-left:0;
}

.date {
	font-size: 2.2vh;
	font-style: italic;
	font-weight: bold;
}

.categories {
	font-size: 2vh;
	font-style: italic;
	font-weight: bold;
}

code.highlighter-rouge {
    color: #000000; background-color: #eaeaea; padding-left: 3px; padding-right:3px;
}

.highlight pre {
	white-space: pre-wrap;
}

.highlight .highlight {
	margin-left:5%;
	margin-right:0;
}

code {
	font-family: 'IBM Plex Mono';
}

code span {
	font-family: 'IBM Plex Mono';
}

.header {
}

.main {
    @media screen and (max-width: 600px) {
        margin-top:15%;
    }
	margin-top:10%;
}

.mobile-warning {
    color: red;
    display:none;
    @media screen and (max-width: 600px) {
        display: inline;
    }
}

.mobile-warning p {
    font-style: italic;
    font-size: 1.5vh;
}

.about-image {
    height:400px;
    margin-bottom: 2%;
    margin-right: 2%;
    float:left;
}

.main-content {
    margin-top: 2%;
    margin-left: 2%;
}
