---
layout: home
---

<div class="paginate-wrapper">
<ul class="post-list">
  {% for post in paginator.posts %}
    <li>
      {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
      <div class="post-meta">{{ post.date | date: date_format }}</div>

      <h2>
        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      </h2>
    </li>
  {% endfor %}
</ul>

</div>
<br>
<!-- Pagination links -->
<div class=paginate-links-wrapper>
        {% if paginator.total_pages < 2 %}
            <span></span>
        {% else %}
        <span> Page <span>
        <div class="pagination">
            {% if paginator.previous_page %}
                <a href="{{ paginator.previous_page_path }}" class="previous"><i class="fa fa-caret-square-o-left"></i></a>
            {% else %}
                <i class="fa fa-chevron-circle-left"></i>
            {% endif %}

            <span class="page_number ">   {{ paginator.page }} of {{ paginator.total_pages }}   </span>

            {% if paginator.next_page %}
                <a href="{{ paginator.next_page_path }}" class="next"><i class="fa fa-caret-square-o-right"></i></a>
            {% else %}
                <i class="fa fa-chevron-circle-right"></i>
            {% endif %}
        {% endif %}
        </div>
<div>
