<!DOCTYPE html>
<html lang="en">

{% set page_title = "About" %}
{% include "includes/header.html" %}

<body>
    {% include "includes/nav.html" %}
    <div class="full-pager">
            <div class="about">
                    <p>
                    My name is Owen. I'm a professional programmer and amatuer woodworker.<br/>
                    Here is a link to my <a href="{{site.CV_link}}">CV</a>,
                    and my <a href="{{site.github}}">github</a>.
                    </p>
                    <p>
                    Currently I'm living in rural Vermont building a homestead with my wife.
                    </p>
                    <p>
                    I'm available for hire as a freelance programmer. View my CV <a href="{{site.CV_link}}">here</a>.
                    </p>
                    <p>
                    You can reach me via email: <a href="mailto:{{site.email}}">{{site.email}}</a>
                    </p>
            </div>
            {% include "includes/footer.html" %}
    </div>
</body>
</html>

