<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
  <!--SEO -->
  <title>owen has thoughts</title>
  <meta property="og:title" content="owen's thoughts" />
  <meta property="og:locale" content="en_US" />
  <meta name="description" content="" />
  <meta property="og:description" content="" />
  <link rel="canonical" href="http://localhost:4000/" />
  <meta property="og:url" content="http://localhost:4000/" />
  <meta property="og:site_name" content="{{ site.title }}" />
  <script type="application/ld+json">
    {
      "name": "owenstranathan",
      "description": "owenstranathan.com",
      "@type": "WebSite",
      "url": "owenstranathan.com",
      "headline": "Yay!",
      "@context": "http://schema.org"
    }
  </script>

  <!-- styles -->
  <link rel="stylesheet" href="/assets/css/main.css" />
</head>

<body>
    <h1>{{site.title}}</h1>
    <hr/>
    <p>
    My name is Owen. I'm a programmer and freelance copy writer.
    I have a <a href="{{site.github}}">github</a>.
    I have a <a href="{{site.linkedin}}">linkedin</a>.
    You can hire me to write code or copy. <a href="mailto:{{site.email}}">{{site.email}}</a>
    </p>
    <hr/>
    <p>
    Thoughs below...
    </p>
    <hr/>
    <hr/>
    <hr/>
    <!-- TODO: put each post in the page date, title full text, and add a break between posts -->
    {% for post in posts|sort(reverse=True, attribute='date') %}
            <div class="title"><h1>{{ post.title }}</h1></div>
	        <div class="date"><p>{{ post.metadata['date'].strftime('%A, %B %e, %Y') }}<p></div>
	        <div class="categories">
            <p>
	        		categories:
	        		{% for category in post.categories %}
	        		{{category}}
	        		{% endfor %}
            <p>
	        </div>
            <div class="content">
                {{post.html}}
	        </div>
        <hr/>
        <hr/>
        <hr/>
        <hr/>

    {% endfor %}
<p>
&copy;Owen Stranathan 2020. Made quickly with some python, copy it <a href="{{site.github}}/static-markdown-site-compiler">here</a> you mongrel 
</p>
</body>
</html>

