<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body>
	<div id="sketch-holder">
	</div>
	<div class="wrapper" id="content">
		<div class="site-main">
			<div class="site-main-inner">
				<div class="site-main-left">

					<div class="site-main-head">
						<span><a class="site-title" href="/">{{ site.title }}</a></span>
					</div>
				</div>
				<div class="site-main-right">

					<div class="site-main-head">
						<span>About</span>
					</div>
					<p>
						Hi! My name is Owen and I'm a programmer.<br/>
						I want more than anything to make videogames. In fact that's all I do.
						Right now I'm living in San Leandro, CA and working full time on an indie game.
						I'm always open to new opportunities so if you have one I want to know about it!
					</p>
					<p>
						I like platformers, pizza, piano, alliteration, computers, videogames (obviously), math,
						my <a href="/assets/img/blue.JPG">dog</a>, bicycles, vim, and doing things from scratch.
					</p>
					<p>
					</p>
					<p>
						Motto: <em>If you can't do it with C and bash, then you can't do it.</em>
					</p>
					<p>
						Checkout some of my projects as well as my github and resume below to get a feel for my chops.
					</p>
					<div class="site-main-right-cont">
						<strong> Projects</strong>
						<p>
						<a href="https://github.com/wabisoft/waves">waves (Work in progress)</a>:
						A physics based puzzle platformer written entirely in c++ from scratch. (because who cares how long it takes?... right?)
						</p>

						<p><a href="https://github.com/owenstranathan/bash-templater">bash-templater</a>:
						In my last job I needed a template engine to generate deployment artifacts from configuration.
						All the existing tools were too heavy and had a cultural buy in. I adapted this from a fork,
						and rewrote/extended greatly</p>

						<p><a href="https://github.com/owenstranathan/bashtest">bashtest</a>:
						I of course need a test runner in bash to run tests on bash-templater.
						I made it general enough to use elsewhere.</p>
					</div>
				</div>
			</div>
		</div>
			<br/>
		<div class="site-footer">
			<div class="site-footer-inner">
				<div class="site-footer-left">
					<div class="site-footer-head">
						CONTACT
					</div>
					owenstranathan@gmail.com<br/>
					419.341.6408
				</div>
				<div class="site-footer-center">
					<a href="https://github.com/owenstranathan">Github</a><br/>
					<a href="https://www.linkedin.com/in/owenstranathan/">LinkedIn</a> <br/>
					<a href="/assets/extra/owenstranathanCV.pdf">CV</a> <br/>
					<a href="/blog.html">Blog</a>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
