<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">


{% include head.html %}

<body>
    {% include menu.html class="header" %}
	<div class=main>
		<p>
			My name is Owen and I'm a programmer.<br/>
			I spend my time exploring my interests. I enjoy programming, making music, riding and repairing bicycles, writing in almost all forms, and game development.
		</p>
		<p>
			I have a pet <a href="/assets/img/blue.JPG">dog</a>. She's a good girl.
		</p>
		<p>
			This site exists to host my <a href="assets/extra/owenstranathanCV.pdf">CV</a>, a <a href="/archive">blog</a> I don't use much,
			as well as links to my <a href="https://github.com/owenstranathan">github</a> and <a href="https://www.linkedin.com/in/owenstranathan">linkedin</a>.
		</p>
		<p>
			Sometimes I freelance. If you want to work with me, you can email me at <a href="mailto:owen@wabisoft.io">owen@wabisoft.io</a>. 
		</p>
	</div>
</body>
</html>
